header{
    background-color: black;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}

header h1 {
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 10px;
}

div p{
    position: absolute;
    top: 20%;
    background-color: aqua;
}

/* hover */
nav li a:hover{
    text-decoration: underline;
    background-color: bisque;
    padding: 3px;
}

/* focus */
form input:focus{
    border: 4px dashed blue;
    outline: none;
}

